<div class="widget-wrap">
    <h3 class="widget-title">Info</h3>
    <div class="widget">
        <p><%= config.author_info %></p>

        <div class="icons">
            <% if (config.contact.twitter){ %>
                <a rel="me" title="twitter" href="https://twitter.com/<%= config.contact.twitter %>"><img src="/css/images/twitter.svg"></a>
            <% } %>
            <% if (config.contact.mastodon){ %>
                <a rel="me" title="mastodon" href="https://<%= config.contact.mastodon %>"><img style="height: 32px" src="/css/images/mastodon.svg"></a>
            <% } %>
            <% if (config.contact.bluesky){ %>
                <a rel="me" title="bluesky" href="https://bsky.app/profile/<%= config.contact.bluesky %>"><img src="/css/images/bluesky.svg"></a>
            <% } %>
            <% if (config.contact.github){ %>
                <a rel="me" title="github" href="https://github.com/<%= config.contact.github %>"><img src="/css/images/github.svg"></a>
            <% } %>
            <% if (config.contact.linkedin){ %>
                <a rel="me" title="linkedin" href="https://www.linkedin.com/in/<%= config.contact.linkedin %>"><img src="/css/images/linkedin.svg"></a>
            <% } %>
            <% if (config.contact.facebook){ %>
                <a rel="me" title="facebook" href="https://facebook.com/<%= config.contact.facebook %>"><img src="/css/images/facebook.svg"></a>
            <% } %>
            <% if (config.contact.stackoverflow){ %>
                <a rel="me" title="stackoverflow" href="https://stackoverflow.com/users/<%= config.contact.stackoverflow %>"><img src="/css/images/overflowing.svg"></a>
            <% } %>
        </div>
    </div>
</div>

<div class="widget-wrap">
    <h3 class="widget-title">Other stuff</h3>
    <div class="widget">
        <p>Aside from the blog, I also host some other stuff:</p>
        <br>
        <ul>
            <li><a href="/lösenfras">Lösenfras</a>, a Swedish pass phrase generator (even more secure than English!)</li>
            <li><a href="/ps2files">A mirror of the IBM PS/2 Files archive</a>, containing starter and utility disks for all PS/2 models</li>
            <li><a href="https://deaddrop.at">deaddrop.at</a>, a super-simple file-share thingy.</li>
        </ul>
    </div>
</div>